:root{
    /* COLORS */
    --white: #ffffff;
    --black: #212121;
    --primary: rgba(0, 191, 216, 1);
    --secondary: #ffee00;

    /*FONTSIZE*/
    --mainFontSize: 3.8rem;

    /*FONTSTYLE*/
    --mainFontStyle: 'PT Sans', sans-serif;
} 

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1 rem = 16px */
    font-family: var(--mainFontStyle); /* Aplied the mainFontStyle in all the body*/
}

h1.title {
    font-size: var(--mainFontSize);
    text-align: center;
    font-weight: normal;
}

h1.title span {
    font-size: 2rem;
}

div.nav-background{
    background-color: var(--primary);
}

.container-center{
    width: 120rem; /* 1200 px*/
    /*margin: 0 auto 0 auto; if they repeat, u can simplify*/
    margin: 0 auto; /* to align to the center */
}

nav.main-nav{
    font-size: 2rem;
    display: flex; /* default flex-direction: row */
    justify-content: space-between;
}

.main-nav a{
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}

.main-nav a:hover{
    background-color: var(--secondary);
    color: var(--black);
}

@media (min-width: 480px) {
    
}
